# OpenAI
OPENAI_API_KEY=

# MongoDB
MONGODB_URI==mongodb://localhost:27017/misi-langgraph

# LangSmith (optional but recommended for observability)
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=misi-langgraph
